body 
    { background-color: #FFFFFF;
        width: 1024px;
        height: 1024px;
        box-sizing: border-box;
    }

    .caja-uno
    /*DESCUENTOS 20%*/
        {
        position:absolute;
        width:1024px;
        height:38px;
        left:0px;
        top:0px;
        background-color: #1CD1B0
        }
    .caja-uno-letra 
    /*DESCUENTOS 20%*/   
        {
        position: absolute;
        font-family: 'Roboto', sans-serif;
        width: 111px;
        height: 18px;
        left: 27px;
        top: 10px;color: #000000;
        font-style: normal;
        font-weight: 400;
        font-size: 15px;
        line-height: 17.58px;
        }

    .caja-dos
        
        {
        position:absolute;
        width:1024px;
        height: 101px;
        left: 0px;
        top: 38px;
        box-shadow: 0px 10px 7px rgba(0, 0, 0, 0.25);
        background-color: #00669F;
        box-sizing: border-box;
        }

    .caja-dos-letra
        /*HEROES*/
        {
        position:absolute;
        width: 128px;
        height: 47px;
        left: 28px;
        top: 28px;
        font-family: 'Roboto', sans-serif;
        color: #000000;
        font-style: normal;
        font-weight: 400;
        font-size: 40px;
        line-height: 47px;  
        }

.imagen-gotica
        {width: 300px;
        height: 193px;
        top: 293px;
        left: 32px;
        position: absolute;
        border-radius: 16px 16px 0px 0px;
        }

.imagen-batman 
        {
        position:absolute;
        width: 120px;
        height: 64;
        left: 122px;
        top: 421px;
        border-radius: 90px 90px 90px 90px;
        }
.cuadro-gris
        {
        position:absolute;
        width: 300px;
        height: 336px;
        left: 32px;
        top:485px;                
        background-color: #F3F3F3;
        box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25)
        }
        
.batman-titulo 
        {
        width: 122px;
        height: 35px;
        font-family: 'roboto';
        font-style: normal;
        font-weight: 400px;
        font-size: 30px;
        line-height: 35.16px;
        text-align: center;

        position:absolute;
        width: 122px;
        height: 35px;
        left: 121px;
        top: 559px;
        }

.batman-intro
        {
        position: absolute;
        width: 267px;
        height: 113px;
        top: 604px;
        left: 46px;
        
        font-family: 'roboto';
        font-style: normal;
        font-weight: 400px;
        font-size: 16px;
        line-height: 19px;
        color: #333333
        }

.boton-vermas
        {
        position:absolute;
        top: 754px;
        left: 117px;
        bottom: 203px;

        width: 128.78px;
        height: 48.52px;
        background-color: #00669F;
        color: #F3F3F3;
        text-align: center;
        font-family: 'roboto';  
        }

.footer
        {
        position:relative;
        width: 1024px;
        height: 51px;
        background-color: #00669F;
        top: 1024px;
        box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
        }

.footertext 
        {
        position:absolute;
        width: 337px;
        height: 19px;
        top: 1008px;
        left: 16px;

        font-family: 'roboto';
        color: #F3F3F3;
        font-style: normal;
        font-weight: 400px;
        font-size: 16px;
        line-height: 19px;
        text-align: center;
        }